langchain
langchain-community
langchain-openai
langchain-core
langgraph~=0.5.0
faiss-cpu
fastapi~=0.115.13
uvicorn
sqlalchemy~=2.0.41
langchain-groq
langchain-text-splitters
passlib~=1.7.4
langchain-huggingface
pydantic~=2.11.7
python-dotenv~=1.1.0
itsdangerous
PyPDF2~=3.0.1
sentence-transformers
bcrypt==4.0.1
pymysql
python-jose[cryptography]
cryptography
python-multipart
alembic~=1.16.2
openai~=1.88.0
requests~=2.32.4
numpy~=2.3.0