langchain
langchain-community
langchain-openai
langchain-core
langgraph
faiss-cpu
fastapi
uvicorn
sqlalchemy
langchain-groq
langchain-text-splitters
passlib
langchain-huggingface
pydantic
python-dotenv
itsdangerous
PyPDF2
sentence-transformers
bcrypt==4.0.1
pymysql
python-jose[cryptography]
cryptography
python-multipart
alembic
openai